/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    transition: .3s ease all;
    &.dark {
        background: $almost-black;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button, input[type=submit], input[type=reset] {
    &:hover {
        cursor: pointer;
    }
}


