/* FOOTER */
footer {
  div.footer-up {
    padding: 0 80px;
    background-color: #f3f3f3;
    height: min-content;
    display: flex;
    justify-content: space-between;
    body.dark & {
      background-color: #323232;
      p,
      i,
      span {
        color: #fff;
      }
    }
    div {
      display: flex;
    }
    div.footer-up__info-contact {
      flex-direction: column;
      justify-content: center;
      p {
        font-weight: 500;
        font-size: 1.1rem;
      }
      li {
        margin-top: 30px;
        display: flex;
        align-items: center;
        span {
          margin-left: 8px;
        }
      }
    }
    div.footer-up__form {
      align-items: center;
      align-self: center;
      height: 310px;
      width: 55%;
      margin: 15px;
      div.trust-us {
        background-color: #fe8ebd;
        padding: 0 2%;
        width: 110%;
        height: 315px;
        font-weight: 700;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: #515486;
          position: relative;
          &::before {
            background: #fcfcfc;
            bottom: -10px;
            content: "";
            height: 4px;
            position: absolute;
            transition: width 0.5s;
            width: 18%;
          }
        }
      }
      div.form-container {
        background-color: #fcfcfc;
        padding: 17px 35px;
        width: 80%;
        body.dark & {
          background-color: #424242;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          h3 {
            color: #515486;
            font-weight: 700;
            font-size: 1.25rem;
          }
          input,
          textarea {
            width: 100%;
            background-color: #f6f7f9;
            border: none;
            padding: 12px 8px;
            border-radius: 12px;
            &::placeholder {
              font-weight: 700;
              color: #515486;
              font-size: 0.8rem;
            }
          }
          textarea {
            resize: none;
            height: 100px;
          }
          div {
            display: flex;
            justify-content: space-between;
            input {
              width: 45%;
              color: white;
              font-weight: 700;
              font-size: 0.8rem;
              &[type="reset"] {
                background-color: $almost-black;
              }
              &[type="submit"] {
                background-color: $main-colour;
              }
            }
          }
        }
      }
    }
  }
  div.footer-down {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    p {
      padding: 15px 0;
      font-weight: 700;
      font-size: 0.8rem;
      body.dark & {
        color: #fff;
      }
    }
    span {
      font-size: 1.2rem;
      body.dark & {
        color: #fff;
      }
    }
  }
}
