/* MAIN */
main {
  section.wn-s1 {
    background-image: url(../assets/background-light-blue.png);
    justify-content: flex-end;
  }
  section.wn-season {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    div {
      margin-right: 8vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    p.big-disc {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 600;
    }
    button.btn-disc {
      background-color: $main-colour;
      padding: 8px 4vw;
      border: none;
      color: white;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 1.2rem;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    button.btn-buy {
      padding: 8px 2vw;
      background-color: transparent;
      transition: all 0.5s;
      border: 1px solid black;
      &:hover {
        background-color: black;
        color: #fff;
      }
    }
  }
  section.tendencias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 100px;

  
    div.trend1 {
      background-image: url(../assets/tendencia-yellow.png);
    }
    div.trend2 {
      background-image: url(../assets/tendencia-light-blue.png);
    }
    div.trending {
      margin-top: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20vw;
      min-width: 250px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        margin-right: 10px;
        h3 {
          font-weight: 600;
        }
        p {
          color: $main-colour;
        }
        a {
          margin-top: 20px;
          color: $main-colour;
          border: solid 1px black;
          padding: 3px;
          border-radius: 5px;
          transition: all .5s;
          width: 100%;
          text-align: center;
          &:hover {
            color: #fff;
            background-color: $main-colour;
            border: 1px solid $main-colour;
          }
        }
      }
    }
  }
  section.featured-products {
    text-align: center;
    h3 {
      margin-top: 40px;
      text-align: center;
      font-weight: 500;
      font-size: 2rem;
      text-decoration: underline;
      color: $almost-black;
      body.dark & {
        color: #fff;
      }
    }
    div.featured-products__categories {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      width: 100%;
      ul {
        width: 100vw;
        display: flex;
        justify-content: center;
        li {
          padding: 5px 25px;
          border-right: solid 1px black;
          font-weight: 500;
          a {
            padding: 15px 25px;
            color: $almost-black;
            transition: all 0.6s;
            body.dark & {
              color: #fff;
            }
            &:hover {
              background-color: #ffeb28;
            }
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
    div.container-featured-products {
      display: flex;
      flex-wrap: wrap;
      margin: 0 8vw;
      justify-content: space-between;
      div.featured-item {
        margin-top: 40px;
        width: 270px;
        height: 270px;
        background-image: url(../assets/remera-producto-destacado.png);
        background-position: 0 15px;
        background-size: cover;
        border: 1px solid rgba(34, 34, 34, 0.12);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 10px 11px -10px rgba(0, 0, 0, 0.75);
        transition: all 0.5s;
        &:hover {
          box-shadow: 27px 26px 52px -16px rgba(0, 0, 0, 0.24);
          transform: scale(1.1);
        }
        div {
          position: relative;
          p {
            font-weight: 500;
            font-size: 0.5rem;
            position: absolute;
            top: 12px;
            right: 12px;
            color: #fff;
            background-color: #c92c2c;
            border-radius: 5px;
            padding: 3px;
          }
        }
        p {
          background-color: #ffeb28;
          font-weight: 600;
          padding-top: 2px;
        }
        p.item-price {
          color: $main-colour;
        }
      }
    }
  }
  section.wn-s2 {
    background-image: url(../assets/background-pink.png);
    margin: 60px 0;
    div {
      margin-left: 8vw;
    }
  }
}
