/* RESPONSIVE */
@media screen and (max-width: 900px) {
  header {
    div.items-header {
      a i, div label i {
        font-size: 2rem;
        margin-right: 10px;
      }
      div.container-btn-menu {
        input#btn-menu {
          &:checked {
            & ~ nav#home-menu {
               margin: 0;
            }
          }
        }
        label {
          display: block;
        }
      }
    }
    nav#home-menu {
      position: absolute;
      background: #fff;
      top: 112px;
      right: 0px;
      margin-right: -80%; 
      ul {
        flex-direction: column; 
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    section.wn-s1 {
      display: flex;
      justify-content: center;
      div {
        padding: 20px;
        background-color: rgba(0,0,0,.5);
        margin: 0;
        p,h2,button {
          color: #fff;
        }
      }
    }
    section.tendencias {
      justify-content: center;
      div.trending {
        margin: 40px 20px 0;
        width: 100vw;
        div {
          font-size: 180%;
        }
      }
    }
    section.featured-products {
      div.featured-products__categories {
        ul {
          flex-direction: column;
          gap: 30px;
          li {
            a {
              font-size: 1.5rem;
            }
          }
        }
      }
      div.container-featured-products {
        justify-content: center;
      }
      div.container-featured-products {
        div.featured-item {
          margin: 40px 20px;
          transition: all 0.5s;
          &:hover {
            transform: none;
            box-shadow: none;
          }
        }
      }
    }
    section.wn-s2 {
      display: none;
    }
  }
  footer {
    div.footer-up {
      flex-direction: column;
      padding: 0 20px;
      div.footer-up__info-contact {
        vertical-align: center;
        p {
          text-align: left;
          font-size: 2rem;
          margin: 30px 35px 0;
          width: 100%;
        }
        ul {
          margin: 0 35px;
          font-size: 1.5rem;
          li {
            text-align: center;
          }
        }
      }
      div.footer-up__form {
        width: 100%;
        margin-top: 40px;
        div.trust-us {
          display: none;
        }
        div.form-container {
          width: 100%;
          form {
            h3 {
              font-size: 1.5rem;
            }
            input,textarea, div input {
              font-size: 1.2rem;
              &::placeholder {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
