/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #222222;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover {
  cursor: pointer;
}

/* HEADER */
header {
  margin: 3vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 a {
  font-family: "Euphoria Script", sans-serif;
  font-size: 3rem;
  color: #E51A73;
}

header nav#home-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
}

header nav#home-menu ul li a {
  font-weight: 500;
  font-size: 1rem;
  color: #222222;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body.dark header nav#home-menu ul li a {
  color: #fff;
}

header nav#home-menu ul li a::before {
  background: #E51A73;
  bottom: -5px;
  content: "";
  height: 3px;
  position: absolute;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 0;
}

header nav#home-menu ul li a:hover::before {
  width: 100%;
}

header div.items-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.items-header a i {
  font-size: 1.1rem;
  color: #222222;
}

body.dark header div.items-header a i {
  color: #fff;
}

header div.items-header div.container-btn-menu input#btn-menu {
  display: none;
}

header div.items-header div.container-btn-menu label {
  display: none;
  font-size: 1.25rem;
}

body.dark header div.items-header div.container-btn-menu label {
  color: #fff;
}

header div.items-header div.container-btn-menu label:hover {
  cursor: pointer;
}

header div.items-header button.switch {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  margin-right: 15%;
}

header div.items-header button.switch::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

header div.items-header button.switch.active {
  background: orange;
  color: #000;
}

header div.items-header button.switch.active::after {
  right: 0;
  left: unset;
}

header div.items-header button.switch span {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  background: none;
  color: #fff;
}

/* MAIN */
main section.wn-s1 {
  background-image: url(../assets/background-light-blue.png);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main section.wn-season {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.wn-season div {
  margin-right: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

main section.wn-season p.big-disc {
  font-size: 1.2rem;
}

main section.wn-season h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

main section.wn-season button.btn-disc {
  background-color: #E51A73;
  padding: 8px 4vw;
  border: none;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main section.wn-season button.btn-disc:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section.wn-season button.btn-buy {
  padding: 8px 2vw;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid black;
}

main section.wn-season button.btn-buy:hover {
  background-color: black;
  color: #fff;
}

main section.tendencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 100px;
}

main section.tendencias div.trend1 {
  background-image: url(../assets/tendencia-yellow.png);
}

main section.tendencias div.trend2 {
  background-image: url(../assets/tendencia-light-blue.png);
}

main section.tendencias div.trending {
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  min-width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.tendencias div.trending div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  margin-right: 10px;
}

main section.tendencias div.trending div h3 {
  font-weight: 600;
}

main section.tendencias div.trending div p {
  color: #E51A73;
}

main section.tendencias div.trending div a {
  margin-top: 20px;
  color: #E51A73;
  border: solid 1px black;
  padding: 3px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  text-align: center;
}

main section.tendencias div.trending div a:hover {
  color: #fff;
  background-color: #E51A73;
  border: 1px solid #E51A73;
}

main section.featured-products {
  text-align: center;
}

main section.featured-products h3 {
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: underline;
  color: #222222;
}

body.dark main section.featured-products h3 {
  color: #fff;
}

main section.featured-products div.featured-products__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  width: 100%;
}

main section.featured-products div.featured-products__categories ul {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.featured-products div.featured-products__categories ul li {
  padding: 5px 25px;
  border-right: solid 1px black;
  font-weight: 500;
}

main section.featured-products div.featured-products__categories ul li a {
  padding: 15px 25px;
  color: #222222;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

body.dark main section.featured-products div.featured-products__categories ul li a {
  color: #fff;
}

main section.featured-products div.featured-products__categories ul li a:hover {
  background-color: #ffeb28;
}

main section.featured-products div.featured-products__categories ul li:last-child {
  border: none;
}

main section.featured-products div.container-featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 8vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.featured-products div.container-featured-products div.featured-item {
  margin-top: 40px;
  width: 270px;
  height: 270px;
  background-image: url(../assets/remera-producto-destacado.png);
  background-position: 0 15px;
  background-size: cover;
  border: 1px solid rgba(34, 34, 34, 0.12);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 10px 11px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 11px -10px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main section.featured-products div.container-featured-products div.featured-item:hover {
  -webkit-box-shadow: 27px 26px 52px -16px rgba(0, 0, 0, 0.24);
          box-shadow: 27px 26px 52px -16px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section.featured-products div.container-featured-products div.featured-item div {
  position: relative;
}

main section.featured-products div.container-featured-products div.featured-item div p {
  font-weight: 500;
  font-size: 0.5rem;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  background-color: #c92c2c;
  border-radius: 5px;
  padding: 3px;
}

main section.featured-products div.container-featured-products div.featured-item p {
  background-color: #ffeb28;
  font-weight: 600;
  padding-top: 2px;
}

main section.featured-products div.container-featured-products div.featured-item p.item-price {
  color: #E51A73;
}

main section.wn-s2 {
  background-image: url(../assets/background-pink.png);
  margin: 60px 0;
}

main section.wn-s2 div {
  margin-left: 8vw;
}

/* FOOTER */
footer div.footer-up {
  padding: 0 80px;
  background-color: #f3f3f3;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.dark footer div.footer-up {
  background-color: #323232;
}

body.dark footer div.footer-up p,
body.dark footer div.footer-up i,
body.dark footer div.footer-up span {
  color: #fff;
}

footer div.footer-up div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.footer-up div.footer-up__info-contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.footer-up div.footer-up__info-contact p {
  font-weight: 500;
  font-size: 1.1rem;
}

footer div.footer-up div.footer-up__info-contact li {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.footer-up div.footer-up__info-contact li span {
  margin-left: 8px;
}

footer div.footer-up div.footer-up__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 310px;
  width: 55%;
  margin: 15px;
}

footer div.footer-up div.footer-up__form div.trust-us {
  background-color: #fe8ebd;
  padding: 0 2%;
  width: 110%;
  height: 315px;
  font-weight: 700;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.footer-up div.footer-up__form div.trust-us p {
  color: #515486;
  position: relative;
}

footer div.footer-up div.footer-up__form div.trust-us p::before {
  background: #fcfcfc;
  bottom: -10px;
  content: "";
  height: 4px;
  position: absolute;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 18%;
}

footer div.footer-up div.footer-up__form div.form-container {
  background-color: #fcfcfc;
  padding: 17px 35px;
  width: 80%;
}

body.dark footer div.footer-up div.footer-up__form div.form-container {
  background-color: #424242;
}

footer div.footer-up div.footer-up__form div.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}

footer div.footer-up div.footer-up__form div.form-container form h3 {
  color: #515486;
  font-weight: 700;
  font-size: 1.25rem;
}

footer div.footer-up div.footer-up__form div.form-container form input,
footer div.footer-up div.footer-up__form div.form-container form textarea {
  width: 100%;
  background-color: #f6f7f9;
  border: none;
  padding: 12px 8px;
  border-radius: 12px;
}

footer div.footer-up div.footer-up__form div.form-container form input::-webkit-input-placeholder,
footer div.footer-up div.footer-up__form div.form-container form textarea::-webkit-input-placeholder {
  font-weight: 700;
  color: #515486;
  font-size: 0.8rem;
}

footer div.footer-up div.footer-up__form div.form-container form input:-ms-input-placeholder,
footer div.footer-up div.footer-up__form div.form-container form textarea:-ms-input-placeholder {
  font-weight: 700;
  color: #515486;
  font-size: 0.8rem;
}

footer div.footer-up div.footer-up__form div.form-container form input::-ms-input-placeholder,
footer div.footer-up div.footer-up__form div.form-container form textarea::-ms-input-placeholder {
  font-weight: 700;
  color: #515486;
  font-size: 0.8rem;
}

footer div.footer-up div.footer-up__form div.form-container form input::placeholder,
footer div.footer-up div.footer-up__form div.form-container form textarea::placeholder {
  font-weight: 700;
  color: #515486;
  font-size: 0.8rem;
}

footer div.footer-up div.footer-up__form div.form-container form textarea {
  resize: none;
  height: 100px;
}

footer div.footer-up div.footer-up__form div.form-container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div.footer-up div.footer-up__form div.form-container form div input {
  width: 45%;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}

footer div.footer-up div.footer-up__form div.form-container form div input[type="reset"] {
  background-color: #222222;
}

footer div.footer-up div.footer-up__form div.form-container form div input[type="submit"] {
  background-color: #E51A73;
}

footer div.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
}

footer div.footer-down p {
  padding: 15px 0;
  font-weight: 700;
  font-size: 0.8rem;
}

body.dark footer div.footer-down p {
  color: #fff;
}

footer div.footer-down span {
  font-size: 1.2rem;
}

body.dark footer div.footer-down span {
  color: #fff;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
  header div.items-header a i, header div.items-header div label i {
    font-size: 2rem;
    margin-right: 10px;
  }
  header div.items-header div.container-btn-menu input#btn-menu:checked ~ nav#home-menu {
    margin: 0;
  }
  header div.items-header div.container-btn-menu label {
    display: block;
  }
  header nav#home-menu {
    position: absolute;
    background: #fff;
    top: 112px;
    right: 0px;
    margin-right: -80%;
  }
  header nav#home-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: center;
  }
  main section.wn-s1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.wn-s1 div {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  main section.wn-s1 div p, main section.wn-s1 div h2, main section.wn-s1 div button {
    color: #fff;
  }
  main section.tendencias {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.tendencias div.trending {
    margin: 40px 20px 0;
    width: 100vw;
  }
  main section.tendencias div.trending div {
    font-size: 180%;
  }
  main section.featured-products div.featured-products__categories ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  main section.featured-products div.featured-products__categories ul li a {
    font-size: 1.5rem;
  }
  main section.featured-products div.container-featured-products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.featured-products div.container-featured-products div.featured-item {
    margin: 40px 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  main section.featured-products div.container-featured-products div.featured-item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main section.wn-s2 {
    display: none;
  }
  footer div.footer-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  footer div.footer-up div.footer-up__info-contact {
    vertical-align: center;
  }
  footer div.footer-up div.footer-up__info-contact p {
    text-align: left;
    font-size: 2rem;
    margin: 30px 35px 0;
    width: 100%;
  }
  footer div.footer-up div.footer-up__info-contact ul {
    margin: 0 35px;
    font-size: 1.5rem;
  }
  footer div.footer-up div.footer-up__info-contact ul li {
    text-align: center;
  }
  footer div.footer-up div.footer-up__form {
    width: 100%;
    margin-top: 40px;
  }
  footer div.footer-up div.footer-up__form div.trust-us {
    display: none;
  }
  footer div.footer-up div.footer-up__form div.form-container {
    width: 100%;
  }
  footer div.footer-up div.footer-up__form div.form-container form h3 {
    font-size: 1.5rem;
  }
  footer div.footer-up div.footer-up__form div.form-container form input, footer div.footer-up div.footer-up__form div.form-container form textarea, footer div.footer-up div.footer-up__form div.form-container form div input {
    font-size: 1.2rem;
  }
  footer div.footer-up div.footer-up__form div.form-container form input::-webkit-input-placeholder, footer div.footer-up div.footer-up__form div.form-container form textarea::-webkit-input-placeholder, footer div.footer-up div.footer-up__form div.form-container form div input::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  footer div.footer-up div.footer-up__form div.form-container form input:-ms-input-placeholder, footer div.footer-up div.footer-up__form div.form-container form textarea:-ms-input-placeholder, footer div.footer-up div.footer-up__form div.form-container form div input:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  footer div.footer-up div.footer-up__form div.form-container form input::-ms-input-placeholder, footer div.footer-up div.footer-up__form div.form-container form textarea::-ms-input-placeholder, footer div.footer-up div.footer-up__form div.form-container form div input::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  footer div.footer-up div.footer-up__form div.form-container form input::placeholder, footer div.footer-up div.footer-up__form div.form-container form textarea::placeholder, footer div.footer-up div.footer-up__form div.form-container form div input::placeholder {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */